{{ define "yield" }}

<h1>Submission <strong>#{{.Data.ID.Hex}}</strong></h1>

<div>
  <ul>
    <li><a href="/status/{{.Data.ID.Hex}}/edit">Edit</a></li>
    <li>Problem: <a href="/problems/{{.Data.Pid}}">{{.Data.Pid}}</a></li>
    <li>Username: <a href="/user/{{.Data.Username}}">{{.Data.Username}}</a></li>
  {{with .Data.Verdict}}
    <li>Verdict: {{humanVerdict .Result}}</li>
    <li>Peak memory usage: {{.Memused}}</li>
    <li>Total time usage: {{.Timeused}}</li>
  {{end}}
  </ul>
</div>
<div>
  <pre class="editor" id="code-view">{{.Data.Content}}
  </pre>
</div>

<script>
    var editor = ace.edit("code-view");
    editor.setTheme("ace/theme/twilight");
    editor.setOptions({maxLines:Infinity,showPrintMargin:false,fontSize: "14pt",readOnly:true});
    editor.getSession().setMode("ace/mode/c_cpp");
    var lang = "{{.Data.Lang}}"
    if (lang === "0" || lang === '1') {
      editor.getSession().setMode("ace/mode/c_cpp");
    }
    if (lang === "2") {
      editor.getSession().setMode("ace/mode/python");
    }
    if (lang === "3") {
      editor.getSession().setMode("ace/mode/haskell");
    }
</script>
{{ end }}
