{{ define "yield" }}
<a class="btn btn-default" href="/problems/{{.Data.Pid}}">Show problem</a>
<a class="btn btn-default" href="/problems/{{.Data.Pid}}/status">Show problem status</a>
<a class="btn btn-default" href="/status/{{.Data.ID.Hex}}/edit">Edit</a>

<h1>Submission <strong>#{{.Data.ID.Hex}}</strong></h1>

<div>
  <a class="btn btn-link" href="/user/{{.Data.Username}}">{{.Data.Username}}</a>
</div>
{{with .Data.Verdict}}
<div>
  Verdict: {{humanVerdict .Result}}
</div>
<div>
  Peak memory usage: {{.Memused}}
</div>
<div>
  Total time usage: {{.Timeused}}
</div>
{{end}}
<div>
  <pre class="editor" id="code-view">{{.Data.Content}}
  </pre>
</div>

<script>
    var editor = ace.edit("code-view");
    editor.setTheme("ace/theme/twilight");
    editor.setOptions({maxLines:Infinity,showPrintMargin:false,fontSize: "14pt",readOnly:true});
    editor.getSession().setMode("ace/mode/c_cpp");
    var lang = "{{.Data.Lang}}"
    if (lang === "0" || lang === '1') {
      editor.getSession().setMode("ace/mode/c_cpp");
    }
    if (lang === "2") {
      editor.getSession().setMode("ace/mode/python");
    }
    if (lang === "3") {
      editor.getSession().setMode("ace/mode/haskell");
    }
</script>
{{ end }}
