{{ define "yield" }}
<h1>Discuss</h1>

<form class="form-inline" action="/discuss/new" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="content" name="Content" autofocus="autofocus" placeholder="type message here..." autocomplete="off">
  </div>
  <button type="submit" class="btn btn-default">Murmur</button>
</form>
<hr>

<table class="table table-striped">
  <tbody>
  {{ range .Data }}
    <tr>
      <td>
      <p>{{ .Content }}</p>
      <a href="/user/{{.Username}}">{{ .Username }}</a>
      {{time .ID}}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
