{{ define "_form" }}
{{ if eq .Data.ID 0 }}
<form id="problem-form" action="/problems/new" method="post" enctype="multipart/form-data">
{{ else }}
<form id="problem-form" action="/problems/{{.Data.ID}}/edit" method="post" enctype="multipart/form-data">
{{ end }}
<div class="form-group">
  <label for="Name">Problem name</label>
  <input class="form-control" type="text" id="Name" name="Name" value="{{.Data.Name}}">
</div>
<div class="form-group">
  <label for="Timelimit">Timelimit(ms)</label>
  <input class="form-control" type="text" id="Timelimit" name="Timelimit" value="{{.Data.Timelimit}}">
</div>
<div class="form-group">
  <label for="Memlimit">Memlimit(KiB)</label>
  <input class="form-control" type="text" id="Memlimit" name="Memlimit" value="{{.Data.Memlimit}}">
</div>
<div class="form-group">
  <label for="Content">Description</label> (you can use markdown and MathJax e.g. in-line math:<code>$x$</code>)
  <textarea id="Content" name="Content"></textarea>
  <pre class="editor" id="editor">{{.Data.Content}}</pre>
</div>
  <div>
    <h2>Format of testdata archive</h2>
    <p>
      Should be a <code>.zip</code> archive with the structure of:
    </p>
<pre>
meta.json
testdata/
  1.in
  1.out
  2.in
  2.out
  ...
</pre>
    <p>
      Where <code>meta.json</code> contains the subtasks and number of testdata:
    </p>
<pre>
{
  "Testcase": [
    [1],
    [1, 2, 3]
  ]
}
</pre>
  </div>
<div class="form-group">
  <label for="TestdataFile">Testdata</label>
  {{if .Data.Testdata}}(uploaded){{else}}(not uploaded){{end}}
  <input class="form-control" type="file" id="TestdataFile" name="TestdataFile">
</div>
<div class="form-group">
  <input type="hidden" name="Testdata" value="{{.Data.Testdata}}">
</div>
  <button type="submit" class="btn btn-default" id="problem-submit">Submit</button>
</form>

<script>
    var textarea = $('textarea[name="Content"]').hide();
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.setOptions({minLines:5,maxLines:Infinity,showPrintMargin:false,fontSize: "14pt"});
    editor.getSession().setMode("ace/mode/markdown");
    $('#problem-submit').click(function(){
      $('#Content').val(editor.getSession().getValue());
      return $('#problem-form').submit();
    });
</script>
{{ end }}
