{{ define "_form" }}
{{ if eq .Data.ID 0 }}
<form action="/problems/new" method="post" enctype="multipart/form-data">
{{ else }}
<form action="/problems/{{.Data.ID}}/edit" method="post" enctype="multipart/form-data">
{{ end }}
  <label for="Timelimit">Timelimit:</label>
  <input type="text" id="Timelimit" name="Timelimit" value="{{.Data.Timelimit}}"><br>
  <label for="Memlimit">Memlimit:</label>
  <input type="text" id="Memlimit" name="Memlimit" value="{{.Data.Memlimit}}"><br>
  <label for="TestdataFile">Testdata: (Upload a .zip archive with the structure of: testdata/1.in 1.out 2.in 2.out ...)</label>
  <input type="file" id="TestdataFile" name="TestdataFile"><br>
  <input type="hidden" name="Testdata" value="{{.Data.Testdata}}">
  <label for="Name">Name:</label>
  <input type="text" id="Name" name="Name" value="{{.Data.Name}}"><br>
  <label for="Content">Content:</label>
  <textarea id="Content" name="Content">{{.Data.Content}}</textarea>
  <input type="submit" value="Submit">
</form>

<!--
<div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
-->



<script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");
</script>
{{ end }}
