{{ define "_form" }}
{{ if .Data }}
<form action="/problems/{{.Data}}/edit" method="post">
{{ else }}
<form action="/problems/new" method="post">
{{ end }}
  <label for="Name">Name:</label>
  <input type="text" id="Name" name="Name"><br>
  <label for="Content">Content:</label>
  <textarea id="Content" name="Content"></textarea>
  <input type="submit" value="Submit">
</form>

<!--
<div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
-->



<script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");
</script>
{{ end }}
