{{ define "yield" }}
<a class="btn btn-default" href="/problems">Problems Index</a>
<a class="btn btn-default" href="/problems/{{.Data.ID}}">Show</a>

<h1>Edit Problem<strong>#{{.Data.ID}}</strong></h1>
{{ template "_form" . }}
{{ end }}
