{{ define "yield" }}
<h1>
  {{.Data.Name}}
  <small><a href="/problems/{{.Data.ID}}/edit" aria-label="Edit">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </a></small>
</h1>
<!-- <a class="btn btn-default" href="/problems/{{.Data.ID}}/submit">Submit</a> -->
<div>
  <ul>
    <li>Timelimit: {{.Data.Timelimit}} ms</li>
    <li>Memlimit: {{.Data.Memlimit}} KiB</li>
    <li><a href="/problems/{{.Data.ID}}/status">Problem status</a></li>
  </ul>
</div>

<div>
  {{markdown .Data.Content}}
</div>
<div>
  Last edited by: <a href="/user/{{.Data.AuthorName}}">{{.Data.AuthorName}}</a>
</div>
<hr>

<h3>Submit</h3>
<form id="code-submit-form" action="/problems/{{.Data.ID}}/submit" method="post">
  <div class="form-group">
    <select class="form-control" id="Lang" name="Lang">
      <option value="0" selected="selected">c++14 (g++)</option>
      <option value="1">c++14 (clang++)</option>
      <option value="2">python3</option>
      <option value="3">ghc</option>
    </select>
  </div>
  <div>
    <textarea id="Content" name="Content"></textarea>
    <pre class="editor" id="editor"></pre>
  </div>
  <button type="submit" class="btn btn-default" id="problem-submit">Submit</button>
</form>

<script>
    var textarea = $('textarea[name="Content"]').hide();
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.setOptions({minLines:15,maxLines:Infinity,showPrintMargin:false,fontSize: "14pt"});
    editor.getSession().setMode("ace/mode/c_cpp");
    $('#problem-submit').click(function(){
      $('#Content').val(editor.getSession().getValue());
      return $('#code-submit-form').submit();
    });
    $('#Lang').change(function() {
      var lang = $('#Lang option:selected').val()
      if (lang === "0" || lang === '1') {
        editor.getSession().setMode("ace/mode/c_cpp");
      }
      if (lang === "2") {
        editor.getSession().setMode("ace/mode/python");
      }
      if (lang === "3") {
        editor.getSession().setMode("ace/mode/haskell");
      }
      return;
    });
</script>
{{ end }}
