{{ define "yield" }}
<a href="/problems">Problems Index</a>
| <a href="/problems/{{.Data.ID}}/submit">Submit</a>
| <a href="/problems/{{.Data.ID}}/edit">Edit</a>
| <a href="/problems/{{.Data.ID}}/status">Status</a>
<h1>Problem <strong>#{{.Data.ID}}</strong></h1>
<h2>{{.Data.Name}}</h2>
<div>
  <p>Timelimit: {{.Data.Timelimit}}</p>
  <p>Memlimit: {{.Data.Memlimit}}</p>
  <p>Testdata: {{.Data.Testdata}}</p>
</div>
<div>
  <p>{{markdown .Data.Content}}</p>
</div>
<div>
  <a href="/user/{{.Data.AuthorName}}">{{.Data.AuthorName}}</a>
</div>
{{ end }}
