{{ define "yield" }}
<h1>About GIOJ<small>INFOR Online Judge</small></h1>
<div>
  <h3>A faster, lighter, smaller TIOJ</h3>
  <p>
    Please report problems and issues to this repo (pull request welcomed):
    <a href="https://github.com/silverneko/gioj">https://github.com/silverneko/gioj</a>
  </p>
  <p>
    <a href="https://github.com/pzread/judge">pzread's judge</a> is pretty well built.
  </p>
  <p>
    <a href="mailto:b03902082@ntu.edu.tw">Contact the maintainer</a>
  </p>
</div>
{{ end }}
