{{ define "yield" }}
<h1>User <strong>{{ .Data.Username }}</strong></h1>

<form action="/user/{{.Data.Username}}/edit" method="post">
  <div class="form-group">
    <label for="Name">Nickname</label>
    <input class="form-control" type="text" id="Name" name="Name" value="{{.Data.Name}}">
  </div>
    <div class="form-group">
    <label for="New_Password">New Password (leave blank if not changing password)</label>
  <input class="form-control" type="password" id="New_Password" name="New_password">
  </div>
  <div class="form-group">
    <label for="Confirm_Password">Confirm New Password</label>
    <input class="form-control" type="password" id="Confirm_Password" name="Confirm_password">
  </div>
  <div class="form-group">
    <label for="Password">Old Password</label>
    <input class="form-control" type="password" id="Password" name="Old_password">
  </div>
  {{if .User.IsAdmin}}
  <div class="form-group">
    <label for="Role">Role</label>
    <select class="form-control" id="Role" name="Role">
      {{if eq .Data.Role 1}}
      <option value="0">User</option>
      <option value="1" selected="selected">Admin</option>
      {{else}}
      <option value="0" selected="selected">User</option>
      <option value="1">Admin</option>
      {{end}}
    </select>
  </div>
  {{end}}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{{ end }}
