{{define "yield"}}
  <h1>Users Index</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Nickname</th>
      </tr>
    </thead>
    <tbody>
    {{range .Data}}
      <tr>
        <td><a href="/user/{{.Username}}">{{.Username}}</a></td>
        <td>{{.Name}}</td>
      </tr>
    {{end}}
    </tbody>
  </table>
{{end}}
