{{ define "yield" }}
<form action="/register" method="post">
  <div class="form-group">
    <label for="name">Nickname</label>
    <input class="form-control" type="text" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="Username">Username</label>
    <input class="form-control" type="text" id="Username" name="username">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input class="form-control" type="password" id="Password" name="password">
  </div>
  <div class="form-group">
    <label for="Confirm_Password">Confirm Password</label>
    <input class="form-control" type="password" id="Confirm_Password" name="confirm_password">
  </div>
  <button type="submit" class="btn btn-default">Sign up</button>
</form>
{{ end }}
