{{ define "yield" }}
<h1>User <strong>{{ .Data.Username }}</strong></h1>
<div>
  <h3>Nickname: {{ .Data.Name }}</h3>
</div>
{{ if or (eq .User.Username .Data.Username) (.User.IsAdmin)}}
<hr>
<div>
  <a class="btn btn-default" href="/user/{{ .Data.Username }}/edit">Edit</a>
</div>
{{ end }}
{{ end }}
